{% extends "layout.html" %}
{% block title %}Learning Page{% endblock %}
{% block content %}
  <h1>Learning Page</h1>
  <form action="/learn" method="post">
    <label for="age">Hours of study:</label>
    <input type="number" id="age" name="age" required placeholder="Enter Hours of Study">
    <br>
    <label for="genre">Enter Your Score:</label>
    <input type="number" id="genre" name="genre" required placeholder="Score">
    <br>
    <input type="submit" value="Learn">
  </form>
  {% if predictions %}
    <h2>Predictions:</h2>
    <p>The predicted score is: {{ predictions }}</p>
  {% endif %}
{% endblock %}
